.App {
  text-align: center;
  height: 1000px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.App {
  background: url("https://psmag.com/.image/t_share/MTQ5NjM2MTg5NzU2ODYwMjE4/library.jpg");
  background-size: cover;
}
/* */

.card-img-top  {
  max-width: 200px;
  float: left;
  padding: 0%;
}
.card-body {
  float: left;
}
.card {
  max-height: 600px;
  overflow: hidden;
}